.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.btn-whatsapp-glow {
  position: relative;
  animation: whatsapp-glow 3s infinite ease-in-out;
}

@keyframes whatsapp-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    transform: scale(1.03);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transform: scale(1);
  }
}
