<div
  class="relative flex min-h-screen w-full flex-col group/design-root font-display bg-background-light dark:bg-background-dark text-[#0e181b] dark:text-gray-100 overflow-x-hidden"
>
  @if (showPublicLayout$ | async) {
    @if (showNavbar$ | async) {
      <app-navbar></app-navbar>
    }
    <router-outlet></router-outlet>
    
    @defer (on idle) {
      @if (showNavbar$ | async) {
        <app-footer></app-footer>
      }
    }
  } @else {
    <router-outlet></router-outlet>
  }

  @defer (on idle) {
    <app-toast></app-toast>
    @if (showNavbar$ | async) {
      <app-contact-fab></app-contact-fab>
    }
  }
</div>

<app-loading-spinner></app-loading-spinner>
