<div
  class="relative flex min-h-screen w-full flex-col group/design-root bg-background-light dark:bg-background-dark text-ds-text dark:text-gray-100 overflow-x-hidden"
>
  @if (showPublicLayout$ | async) {
    @if (showNavbar$ | async) {
      <app-navbar></app-navbar>
    }
    <router-outlet></router-outlet>
    
    @defer (on idle) {
      @if (showNavbar$ | async) {
        <app-footer></app-footer>
      }
    }
    <app-cart-drawer></app-cart-drawer>
  } @else {
    <router-outlet></router-outlet>
  }

  <app-toast></app-toast>
  @if (showNavbar$ | async) {
    <app-contact-fab></app-contact-fab>
  }
</div>

<app-loading-spinner></app-loading-spinner>
